@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Righteous&family=Roboto:wght@400;700&family=Sarala:wght@400;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Fundo da tela*/
html{
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
    /* color: white; */
    font-family: 'Lato', sans-serif;
}

body{
    
}
